/* ***Responsive media query*** */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1500px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        max-width: 1140px !important;
    }
    .all_content {
        transform: scale(0.8);
        margin-left: -25%;
        margin-top: -390px;
    }
    main {
        width: 992px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        max-width: 1140px !important;
    }
    .all_content {
        transform: scale(0.6);
        margin-left: -49%;
        margin-top: -843px;
    }
    main {
        width: 768px;
    }
}

/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) {
    .container {
        max-width: 1140px !important;
    }
    .all_content {
        transform: scale(0.4);
        margin-left: -79%;
        margin-top: -1280px;
        -webkit-transform: scale(0.4);
        -moz-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
    }
    main {
        width: 576px;
    }
}

/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 576px) {
    .container {
        max-width: 1140px !important;
    }
    .all_content {
        transform: scale(0.4);
        margin-left: -185%;
        margin-top: -1700px;
        -webkit-transform: scale(0.2);
        -moz-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
    }
    main {
        width: 320px;
    }
}


